.pio
.cache
.pioenvs
.piolibdeps
.vscode
/wled00/Release
/wled00/extLibs
/platformio_override.ini
/wled00/my_config.h
/build_output
.DS_Store
.gitignore
.clang-format
node_modules
.cproject
.project
.idea
.direnv
*.lnk
*.bak
*.cppcheck
/WLED_SR_ESP32-cppcheck-build-dir
platformio.ini
